
.login-container{
  width: 400px;
  height: 400px;

  display: none;
  position: fixed;
  top: 25%;
  left: 38%;
  bottom: 0;
  right: 0;

  background: $couleur-bg-article;
}

.login-container > div{
  width: 450px;

  margin: auto;
  padding: 20px;

  text-align: center;

  position: relative;

  background: $couleur-bg-article;
}




//header du formulaire
.login-container header{
  flex-direction: column-reverse;
  justify-content: center;

  h2{
    margin-bottom: 25px;
  }
}

#btn-fermer-login{
  padding-right: 350px;
  padding-bottom: 30px;

}


//input et label de formulaire

.login-container label{
  color: $couleur-texte;
  font-weight: $fw-semibold;

  margin-bottom: 10px;
}

.tag{
  align-items: flex-start;
}

#username{
  margin-bottom: 20px;
}

.login-container button{
  margin-top: 40px;
}