


.hamburger{
  display: none;
}

.header-page{
  width: 100%;

  background: $couleur-bg-article;
  padding: 0 20px;
}
header h1{
  font-size: $fz-oversize;
  text-transform: none;
  padding-left: 10px;
  color: $couleur-texte;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 16px;
  padding-bottom: 16px;
}



.liste{
  padding: auto 0;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}

nav ul{
  font-weight: $fw-bold;


  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;


}

nav li{
  list-style: none;
  padding: 20px 20px;
  //width: 100%;
}


nav li:hover{
  color: $couleur-bg-article;
  background: $couleur-hover;
}





.sous-menu{
  position: absolute;
  display: none;
  z-index: 999;

  padding-left: 0px;


  li{
    padding: 30px 30px ;
  }
}


.sous-menu a:hover{
  background: $couleur-bg-article;
}

.sous-menu a{
  text-align: center;
}

.sous-menu li{
  padding-left: 40px;
  width: 160px;
  align-items: center;
  text-align: left;
  background: $couleur-hover;
}





.parent-menu1{
  padding: 0px 23px 0px 44px ;
  display: flex;
  justify-content: center;
}

.parent-menu2{
  margin-top: 10px;
  padding: 18px 18px 25px 37px ;

  display: flex;
  justify-content: center;
}

.parent-menu:hover{
  background: $couleur-hover;
}

.drop-down{
  font-size: 12px;
  font-weight: bolder;
}



nav ul li:hover{

  .sous-menu{
  //  position: absolute;
   display: flex;
    flex-direction: column;
    padding-top: 50px;

  }








}


//tablette
@media screen and (max-width: $vw-medium){

nav{
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;


}

  .liste li{
    font-size: $fz-h5;
  }


}



//mobile
@media screen and (max-width: $vw-small){
  nav{
    flex-direction: column;

    .hamburger{
      display: flex;
      flex-direction: column;
      //align-items: center;
    }

    .hamburger:hover{
      .liste{
        display: flex;
      }
    }
  }

  nav .liste{
    display: none;
  }

  nav h1{
    font-size: $fz-h4;
  }



}