//hero{
//  //background-size: cover;
//  //position: relative;
//
//  width: 100%;
//  height: 500px;
//  z-index: -1;
//}

.hero img{
  width: 100vw;
}



.heroTitre{
  width: 100%;
  top: 60%;
  position: absolute;
  text-align: center;


  background: rgba(33,33,33, 0.65);

  h1{
    font-family: $ff-normal;
    font-weight: bold;
    font-size: $fz-oversize;
    color: $couleur-highlight;
  }

}




//tablette
@media screen and (max-width: $med-width){
  .hero img{

  }

}



//mobile
@media screen and (max-width: $min-width){


}