

.profile{
  background: $couleur-bg-article;
  padding: 10px 30px 50px 30px ;
  margin: 50px auto;

  justify-content: center;
}

.profile .flex{
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

.profile header{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 0 50px 0;

      h2{
        font-size: $fz-oversize;
        text-transform: none;
        background: $couleur-hover;

        padding: 15px 100px ;
        border: 1px solid $couleur-bg-article;
        border-radius: 40px;
      }
}


.profile img{
  border-radius: 50%;
  max-width: 250px;
  height: 100%;
}


.photoAvatar{
  width: 250px;
  height: 250px;
}



.informationProfile{
  width: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-top: 50px;

  p{
    display: flex;
    justify-content: space-between;
  }

}


.flex-button{
  display: flex;
  justify-content: flex-end;

  margin-top: 30px;
}
