

//HOVER ARTICLE SNIPPET
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
figure.snipImage {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: $couleur-hover;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4em;
  background-color: #000000;
}

figure.snipImage * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
figure.snipImage img {
  max-width: 100%;
  vertical-align: top;
}
figure.snipImage figcaption {
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
}
figure.snipImage h3 {
  color: $couleur-hover;
  letter-spacing: -1px;
  margin: 0;
  font-weight: 600;
}
figure.snipImage:after {
  border: 8px solid lighten($couleur-hover,5%);
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  bottom: 50%;
  left: 20px;
  right: 20px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 0;
}
figure.snipImage a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snipImage:hover img,
figure.snipImage.hover img {
  opacity: 0.2;
}
figure.snipImage:hover figcaption,
figure.snipImage.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
figure.snipImage:hover:after,
figure.snipImage.hover:after {
  top: 20px;
  bottom: 20px;
  opacity: 0.9;
}
