
//BOUTON SNIPPET
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
.snipButton {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: $couleur-highlight;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 10px;
  letter-spacing: 2px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
}
.snipButton:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.snipButton:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid $couleur-hover;
  content: '';
  border-radius: inherit;
}
.snipButton:hover,
.snipButton.hover {
  background-color: $couleur-hover;
  color: $couleur-texte;
}
.snipButton:hover:before,
.snipButton.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}
