//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR


// Dimension maximal
$max-width: 1440px;
$med-width: 768px;
$min-width: 320px;

// MEDIA QUERIES
$vw-thin: 320px;
$vw-small: 320px;
$vw-medium: 768px;
$vw-large: 1200px;
$vw-huge: $max-width;

//Dimension formulaire
$base-input-height: 42px;
$base-input-border-size : 2px;
$base-input-border-radius : 8px;