// STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{
  &:link{
    color: $couleur-texte;
    text-decoration: none;
  }

  &:visited{
    color: $couleur-texte;
  }

  &:hover{
    color: $couleur-highlight;
    text-decoration: underline;
  }

  &:active{
    color: $couleur-highlight;
  }

  &:focus{
    color: $couleur-highlight;
  }
}